{% extends 'main.html' %} {% block content %}

<div class="container" style="margin-top: 20px">
  <div class="row row-cols-auto">
    {% for post in posts %}
      <div class="col-md" style="padding: 36px">
        <div class="card">
          <img src="{{post.image_cover.url}}" class="card-img-top" alt="img-thumbnail"/>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.subtitle}}</p>
            <a href="{% url 'post' post.id %}" class="btn btn-outline-primary">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
